/** gh-pages */
.page-header{
  background-color: #22a3d4;
  background-image: linear-gradient(120deg, #22a3d4, #78c199);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #064c6d;
}
.main-content h1{
  text-transform: uppercase;
}